@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
}


:root{
--font-titulo: "Oswald", sans-serif;
--font-texto:  "Noto Sans JP", sans-serif;
--marian-blue: #023e8aff;
--honolulu-blue: #0077b6ff;
--blue-green: #0096c7ff;
--pacific-cyan: #00b4d8ff;
--vivid-sky-blue: #48cae4ff;
--non-photo-blue: #90e0efff;
--non-photo-blue-2: #ade8f4ff;
--light-cyan: #caf0f8ff;

}

body{
    font-family: var(--fonte-texto);
    background-color: var(--federal-blue);
    color: var(--federal-blue);
    height: 100vh;
}

header{
    background-color: var(--light-cyan);
    text-align: center;
}

h1{
    font-family: var(--vivid-sky-blue);
    font-size: 2rem;
    color: var(--#000000);
    padding: 1.2rem 0;
}

nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--honolulu-blue);
    margin: 0 2rem 1rem 0;
}

nav a:hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.3s;

}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pacific-cyan);
    color: var(--non-photo-blue-2);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1rem;
}

.caixa-grafico{
    margin: 5rem;
}

.caixa-grafico_container{
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border: var(--font-texto) solid 2px;
}

span{
    font-weight: bold;
    color: var(--font-texto);
}